@font-face {
    font-family: MaisonBold;
    font-weight: bold;
    src: url(https://addons.redbull.com/us/a2w/429cc67e40b21df539fc282cb16f53b9.woff2) format("opentype");
}

.caption-and-content-layout {
    background-color: transparent;
    margin: 10px auto 10px;
    width: 75%;
}

.inline-paragraph__text {
    color: white;
    font-family: MaisonBold, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header__panel {
    background: transparent;
}
