.embed-container {
    height: 660px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 26.25%;
    text-align: center;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    margin: auto;
    width: 80%;
    height: 100%;
}
