/* ----------------------------------------------
 * defining global constants
 * --------------------------------------------- */
/* line 33, ../pages/external-tab/stylesheets/main.css.sass */
body {
    background: transparent; }

/* line 37, ../pages/external-tab/stylesheets/main.css.sass */
.module.box .content {
    background: transparent; }
/* line 39, ../pages/external-tab/stylesheets/main.css.sass */
.no-layout .module.box .content {
    background: transparent; }

/* line 42, ../pages/external-tab/stylesheets/main.css.sass */
.redbull-blue {
    color: #213872; }

/* line 44, ../pages/external-tab/stylesheets/main.css.sass */
.redbull-red {
    color: #cc1c4a; }

/* line 46, ../pages/external-tab/stylesheets/main.css.sass */
.redbull-yellow {
    color: #facd34; }

/* line 49, ../pages/external-tab/stylesheets/main.css.sass */
.title {
    font-weight: bold;
    font-family: "Siri Core", Tahoma, Helvetica, sans-serif; }

.button-signup {
    text-align:center;
    background:#cc1c4a;
    border: solid #cc1c4a 3px;
    padding:0.1em 0;
    font-size: 26px;
    font-weight: normal;
}

.button-signup:hover{
    background-color: white;
    border: solid #cc1c4a 3px;
    /* Firefox */
    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;
}

.button-signup a:hover, .button-signup:hover > a, a:active, a:visited{
    color:#cc1c4a;
}

.button-signup a, a:active, a:visited {
    color:white;
}
.break{
    display:block;
    border-bottom:solid 3px #cc1c4a;
    margin:6px 0;
}
