body {
    background: #454545;
    font-family: sans-serif;
}

.content {
    padding-top: 50px;
}

.header__panel {
    background: #001e3c;
}

#header {
    width: 100%;
    height: 1000px;
    background-size: cover;
}

#header-content {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

#kb-logo {
    height: 200px;
    margin-top: 50px;
}

#header-headline {
    color: #fff;;
    text-transform: uppercase;
    font-size: 83px;
    left: 23%;
    bottom: 5%;
    position: absolute;
    width: 50%;
}

#header-byline {
    text-align: center;
    font-size: 25px;
    margin-top: 5%;
}

.divider {
    height: 5px;
    width: 100%;
    padding: 25px 0;
    background-color: #001e3c;
}

.divider-content {
    width: 100%;
    height: 5px;
    background-color: #385675;
}
