* {
    margin: 0;
    padding: 0;
}

.pic-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: visible;
    top: 0;
    z-index: -1;
}

figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: slideShow 12s linear infinite 0s;
}

figurecaption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
}

.pic-1 {
    opacity: 1;
    background: url(https://image.redbull.com/rbcom/0100/0/052/2017/03/21/8493108d-801a-45ab-8d8d-ce47a64ca7f4.jpeg) no-repeat center center;
    background-size: cover;
}

.pic-2 {
    animation-delay: 6s;
    background: url(https://image.redbull.com/rbcom/0100/0/010/2015/04/17/1331717678622_2.jpg) no-repeat top center;
    background-size: cover;
}

.pic-3 {
    animation-delay: 9s;
    background: url(https://image.redbull.com/rbcom/0100/0/010/2015/04/17/1331717680141_5.JPG) no-repeat center center;
    background-size: cover;
}

.pic-4 {
    animation-delay: 12s;
    background: url(https://image.redbull.com/rbcom/0100/0/052/2017/03/21/ffcae28a-0345-4ec6-a749-1200991a2e44.jpeg) no-repeat top left;
    background-size: cover;
}
/* keyframes*/

@keyframes
slideShow {  0% {
    opacity: 0;
    transform:scale(1);
}
    5% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
        transform:scale(1.1);
    }
    50% {
        opacity: 0;
        transform:scale(1.1);
    }
    100% {
        opacity: 0;
        transform:scale(1.1);
    }
}
