@media all and (max-device-width: 768px) {
    .grid-item {
        margin-bottom: auto;
    }

    .grid {
        background-size: 100%;
        margin: auto;
        min-width: 250px;
        padding: 0;
        width: 100%;
    }

    .grid-item-caption {
        line-height: 75%;
        margin: 0 0 20px 0;
        min-height: 50px;
        text-align: center;
    }

    .grid-item-3 {
        margin: auto;
        min-height: 100px;
        width: 80%;
        float: none;
        -webkit-transition: all 200ms;
        -moz-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms;
    }

    .artwork-number-span {
        font-size: 75%;
    }

}
