<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
</head>
<body>
<div class="pic-wrapper">
    <figure class="pic-1"></figure>
    <figure class="pic-2"></figure>
    <figure class="pic-3"></figure>
    <figure class="pic-4"></figure>
</div>
<div class="content" id="cs-wrapper">
    <div class="grid img-container">

        <div class="grid-item-3" data-scrollspeed="8">
            <div class="grid-item">
                <div class="grid-item-hero">
                    <a class="grid-item-link" href="https://www.redbull.com/us-en/artists-to-watch-2018">
                        <img class="b-lazy atw-img animate js-hover-image" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://addons.redbull.com/us/a2w/images/v_01-400.gif"/>
                    </a>
                </div>
                <div class="grid-item-caption">
                    <a class="grid-item-link" href="https://www.redbull.com/us-en/artists-to-watch-2018">
                        <span class="artwork-number" style="background:transparent">
                            <span class="artwork-number-span">
                                Explore the 23 artists we're expecting big things from in 2018</span></span> </a>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-item-hero">
                    <a class="grid-item-link" href="https://www.redbull.com/us-en/mija-5-songs-you-need-to-know-by-the-electronic-artist">
                        <img class="b-lazy atw-img animate js-hover-image" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://addons.redbull.com/us/a2w/images/mija-portrait-400.jpg"/>
                    </a>
                </div>
                <div class="grid-item-caption">
                    <a class="grid-item-link" href="https://www.redbull.com/us-en/artists-to-watch-2018">
                        <span class="artwork-number" style="background:transparent">
                            <span class="artwork-number-span">
                                5 Songs You Need to Know From the Electronic Artist Mija</span></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item-3" data-scrollspeed="8">
            <div class="grid-item">
                <div class="grid-item-hero">
                    <a class="grid-item-link" href="https://www.redbull.com/us-en/cuco-mavens-interview">
                        <img class="b-lazy atw-img animate js-hover-image" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://addons.redbull.com/us/a2w/images/cuco-square.jpg"/>
                    </a>
                </div>
                <div class="grid-item-caption">
                    <a class="grid-item-link" href="https://www.redbull.com/us-en/cuco-mavens-interview">
                        <span class="artwork-number" style="background:transparent">
                            <span class="artwork-number-span">Cuco Is the 19-Year-Old Heartthrob Leading a New Wave of DIY Dream Pop</span></span>
                    </a>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-item-hero">
                    <a class="grid-item-link" href="https://www.redbull.com/us-en/billie-eilish-5-songs-you-need-to-know">
                        <img class="b-lazy atw-img animate js-hover-image" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://addons.redbull.com/us/a2w/images/billie-eilish-400.jpg"/>
                    </a>
                </div>
                <div class="grid-item-caption">
                    <a class="grid-item-link" href="https://www.redbull.com/us-en/artists-to-watch-2018">
                        <span class="artwork-number" style="background:transparent">
                            <span class="artwork-number-span">
                                5 Songs You Need to Know From Billie Eilish</span></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="grid-item-3" data-scrollspeed="10">

            <div class="grid-item">
                <div class="grid-item-hero">
                    <a class="grid-item-link" href="https://www.redbull.com/us-en/clairo-5-songs-you-need-to-know">
                        <img class="b-lazy atw-img animate js-hover-image" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://addons.redbull.com/us/a2w/images/clairo-square.jpg"/>
                    </a>
                </div>
                <div class="grid-item-caption">
                    <a class="grid-item-link" href="https://www.redbull.com/us-en/clairo-5-songs-you-need-to-know">
                            <span class="artwork-number" style="background:transparent">
                                <span class="artwork-number-span">5 Songs You Need to Know From the DIY Pop Artist Clairo</span></span>
                    </a>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-item-hero">
                    <a class="grid-item-link" href="https://www.redbull.com/us-en/yaeji-5-songs-you-need-to-know">
                        <img class="b-lazy atw-img animate js-hover-image" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://addons.redbull.com/us/a2w/images/yaeji-portrait-400.jpg"/>
                    </a>
                </div>
                <div class="grid-item-caption">
                    <a class="grid-item-link" href="https://www.redbull.com/us-en/artists-to-watch-2018">
                        <span class="artwork-number" style="background:transparent">
                            <span class="artwork-number-span">
                                5 Songs You Need To Know From Electronic Artist Yaeji</span></span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="spotify-container">
    <div class="embed-container">
        <h2 class="outline-md bigger">Playlist</h2>
        <iframe class="social-media-embed__content" src="https://open.spotify.com/embed/user/redbullmusic/playlist/3QDMJ9vU6ZxtOVgKr820Ca" width="80%" height="1300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>
</body>
</html>
