<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kris Bryant's Insider</title>
  	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
</head>
<body style="margin:0">
	<div class="content" id="cs-wrapper">
	    <div id="main-content">
	    	<div id="header" style="background-image: url('/images/cover-photo.jpg');">
	    		<div id="header-content">
					<img id="kb-logo" src="/images/kb-logo.png"/>
					<div id="header-headline">
						The House That Built KB

						<div id="header-byline">By John Doe</div>
					</div>
	    		</div>
	    	</div>
	    	<div class="divider"><div class="divider-content"></div></div>
	    </div>
	</div>
</body>
</html>
