<!DOCTYPE html>
<html lang="en">
<head>
	<title>Reign - DEVELOPMENT HARNESS</title>
  	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
</head>
<body style="margin:0">
<div class="content" id="cs-wrapper">
    <div id="main-content">
        <div id="reign-map-container">
            <img id="reign-map" src="https://addons.redbull.com/us/reign/images/large/ReignCountries.jpg"/>
        </div>
        <div class="grid img-container">
            <div class="col-0 grid-item-3">
                <!-- ATL -->
                <div class="grid-item">
                    <a href="https://redbullreignatlanta.splashthat.com/" target="_blank">
                        <img class="b-lazy" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://addons.redbull.com/us/reign/images/small/ATL.png" height="400" width="711" /></a>
                    <div class="event-info text-shadow">July&nbsp;28</div>
                </div>
            </div>
            <div class="col-1 grid-item-3">
                <!-- MEMPHIS -->
                <div class="grid-item">
                    <a href="https://redbullreignmemphis.splashthat.com/" target="_blank">
                        <img class="b-lazy" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://addons.redbull.com/us/reign/images/small/MEMPHIS.png" height="400" width="711" /></a>
                    <div class="event-info text-shadow">August&nbsp;11</div>
                </div>
            </div>
            <div class="col-2 grid-item-3">
                <!-- NOLA -->
                <div class="grid-item">
                    <a href="https://redbullreignnola.splashthat.com/" target="_blank">
                        <img class="b-lazy" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://addons.redbull.com/us/reign/images/small/NOLA.png" height="400" width="711" /></a>
                    <div class="event-info text-shadow">September&nbsp;1</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
