<!DOCTYPE html>
<html lang="en">
<head>
	<title>Reign - DEVELOPMENT HARNESS</title>
  	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
</head>
<body style="margin:0">
<div class="content" id="cs-wrapper">
    <div id="main-content">
        <div class="grid img-container">
            <div class="col-0 grid-item-3">
                <!-- DC -->
                <div class="grid-item">
                    <a href="https://redbullreigndc.splashthat.com/" target="_blank">
                        <img class="b-lazy" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/small/DC.png" height="400" width="711" />
                    <div class="event-info text-shadow">May&nbsp;26</div>
                    </a>
                </div>
                <!-- DETROIT -->
                <div class="grid-item">
                    <a href="https://reigndetroit.splashthat.com/" target="_blank">
                        <img class="b-lazy" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/small/DETROIT.png" height="400" width="711" /></a>
                    <div class="event-info text-shadow">June&nbsp;16</div>
                </div>
                <!-- ATL -->
                <div class="grid-item">
                    <a href="https://redbullreignatlanta.splashthat.com/" target="_blank">
                        <img class="b-lazy" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/small/ATL.png" height="400" width="711" /></a>
                    <div class="event-info text-shadow">July&nbsp;28</div>
                </div>
            </div>
            <div class="col-1 grid-item-3">
                <!-- NYC -->
                <div class="grid-item">
                    <a href="https://redbullreignnyc.splashthat.com/" target="_blank">
                        <img class="b-lazy" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/small/NYC.png" height="400" width="711" /></a>
                    <div class="event-info text-shadow">June&nbsp;2</div>
                </div>
                <!-- CHICAGO -->
                <div class="grid-item">
                    <a href="https://reignchicago.splashthat.com/" target="_blank">
                        <img class="b-lazy" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/small/CHICAGO.png" height="400" width="711" /></a>
                    <div class="event-info text-shadow">July&nbsp;14</div>
                </div>
                <!-- MEMPHIS -->
                <div class="grid-item">
                    <a href="https://redbullreignmemphis.splashthat.com/" target="_blank">
                        <img class="b-lazy" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/small/MEMPHIS.png" height="400" width="711" /></a>
                    <div class="event-info text-shadow">August&nbsp;11</div>
                </div>
            </div>
            <div class="col-2 grid-item-3">
                <!-- PHILLY -->
                <div class="grid-item">
                    <a href="https://redbullreignphilly.splashthat.com/" target="_blank">
                        <img class="b-lazy" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/small/PHILLY.png" height="400" width="711" /></a>
                    <div class="event-info text-shadow">June&nbsp;9</div>
                </div>
                <!-- CLEVELAND -->
                <div class="grid-item">
                    <a href="http://reigncleveland.redbull.com/" target="_blank">
                        <img class="b-lazy" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/small/CLEVELAND.png" height="400" width="711" /></a>
                    <div class="event-info text-shadow">July&nbsp;21</div>
                </div>
                <!-- NOLA -->
                <div class="grid-item">
                    <a href="https://redbullreignnola.splashthat.com/" target="_blank">
                        <img class="b-lazy" src="data:image/png;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/small/NOLA.png" height="400" width="711" /></a>
                    <div class="event-info text-shadow">September&nbsp;1</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
